<div class="entry__title display-3">Sign Up</div>
<div class="entry__info">
  Let’s Sign up first for enter into Nomad Advertisement Website!
</div>
<form
  class="entry__form"
  [formGroup]="SignupForm"
  (ngSubmit)="onSubmit()"
  #signupForm="ngForm"
>
  <div class="entry__fieldset">
    <div
      class="field1 field1_email js-field"
      [class.error]="
        (UserName.invalid && UserName.touched) ||
        (UserName.invalid && signupForm.submitted)
      "
    >
      <div class="field1__label">User Name *</div>
      <div class="field1__wrap">
        <input
          class="field1__input js-field-input"
          type="text"
          formControlName="userName"
        />
      </div>
      <div
        class="validation-box"
        *ngIf="
          (UserName.invalid && UserName.touched) ||
          (UserName.invalid && signupForm.submitted)
        "
      >
        <span *ngIf="UserName.hasError('required')">UserName is required</span>
        <span *ngIf="UserName.errors.minlength"
          >Minimum 2 Characters are required</span
        >
        <span *ngIf="UserName.errors.maxlength"
          >Maximum 70 Characters are required</span
        >
      </div>
    </div>
    <div class="entry__row">
      <div class="entry__col">
        <div
          class="field1 js-field"
          [class.error]="
            (FirstName.invalid && FirstName.touched) ||
            (FirstName.invalid && signupForm.submitted)
          "
        >
          <div class="field1__label">First Name *</div>
          <div class="field1__wrap">
            <input
              class="field1__input js-field-input"
              type="text"
              formControlName="firstName"
            />
          </div>
          <div
            class="validation-box"
            *ngIf="
              (FirstName.invalid && FirstName.touched) ||
              (FirstName.invalid && signupForm.submitted)
            "
          >
            <span *ngIf="FirstName.hasError('required')"
              >FirstName is required</span
            >
            <span *ngIf="FirstName.errors.minlength"
              >Minimum 2 Characters are required</span
            >
            <span *ngIf="FirstName.errors.maxlength"
              >Maximum 10 Characters are required</span
            >
          </div>
        </div>
      </div>
      <div class="entry__col">
        <div
          class="field1 js-field"
          [class.error]="
            (LastName.invalid && LastName.touched) ||
            (LastName.invalid && signupForm.submitted)
          "
        >
          <div class="field1__label">Last Name *</div>
          <div class="field1__wrap">
            <input
              class="field1__input js-field-input"
              type="text"
              formControlName="lastName"
            />
          </div>
          <div
            class="validation-box"
            *ngIf="
              (LastName.invalid && LastName.touched) ||
              (LastName.invalid && signupForm.submitted)
            "
          >
            <span *ngIf="LastName.hasError('required')"
              >LastName is required</span
            >
            <span *ngIf="LastName.errors.minlength"
              >Minimum 2 Characters are required</span
            >
            <span *ngIf="LastName.errors.maxlength"
              >Maximum 10 Characters are required</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="entry__row entry__row_mobile">
      <div class="entry__col">
        <div
          class="field1 js-field"
          [class.error]="
            (Email.invalid && Email.touched) ||
            (Email.invalid && signupForm.submitted)
          "
        >
          <div class="field1__label">Email Address *</div>
          <div class="field1__wrap">
            <input
              class="field1__input js-field-input"
              formControlName="email"
            />
          </div>
          <div
            class="validation-box"
            *ngIf="
              (Email.invalid && Email.touched) ||
              (Email.invalid && signupForm.submitted)
            "
          >
            <span *ngIf="Email.hasError('required')">Email is required</span>
            <span *ngIf="Email.hasError('email')"
              >plz, Enter a Valid Email.
            </span>
          </div>
        </div>
      </div>

      <div class="entry__col">
        <div
          class="field1 js-field"
          [class.error]="
            (PhoneNumber.invalid && PhoneNumber.touched) ||
            (PhoneNumber.invalid && signupForm.submitted)
          "
        >
          <div class="field1__label">Phone Number</div>
          <div class="field1__wrap">
            <input
              class="field1__input js-field-input"
              formControlName="phoneNumber"
            />
          </div>
          <div
            class="validation-box"
            *ngIf="
              (PhoneNumber.invalid && PhoneNumber.touched) ||
              (PhoneNumber.invalid && signupForm.submitted)
            "
          >
            <span *ngIf="PhoneNumber.hasError('required')"
              >Phone Number is required</span
            >

            <span *ngIf="PhoneNumber.errors.pattern"
              >Only Numbers are allowed</span
            >
          </div>
        </div>
      </div>
    </div>

    <div
      class="field1 js-field"
      [class.error]="
        (Website.invalid && Website.touched) ||
        (Website.invalid && signupForm.submitted)
      "
    >
      <div class="field1__label">Website</div>
      <div class="field1__wrap">
        <input class="field1__input js-field-input" formControlName="website" />
      </div>
      <div
        class="validation-box"
        *ngIf="
          (Website.invalid && Website.touched) ||
          (Website.invalid && signupForm.submitted)
        "
      >
        <span *ngIf="Website.hasError('required')">Website is required</span>

        <span *ngIf="Website.errors.pattern">plz, enter a valid Url</span>
      </div>
    </div>

    <div class="entry__row entry__row_mobile">
      <div class="entry__col">
        <div
          class="field1 field1_icon js-field"
          [class.error]="
            (Password.invalid && Password.touched) ||
            (Password.invalid && signupForm.submitted)
          "
        >
          <div class="field1__label">Password</div>
          <div class="field1__wrap">
            <input
              class="field1__input js-field-input"
              type="password"
              formControlName="password"
            /><button class="field1__view js-field-view" type="button">
              <svg class="icon icon-eye">
                <use
                  xlink:href="/assets/templates/square_template/img/sprite.svg#icon-eye"
                ></use></svg><span class="field1__line"></span>
            </button>
          </div>

          <div
            class="validation-box"
            *ngIf="
              (Password.invalid && Password.touched) ||
              (Password.invalid && signupForm.submitted)
            "
          >
            <span *ngIf="Password.hasError('required')">Enter Password</span>
            <span *ngIf="Password.errors.minlength"
              >Password should be 8 Characters Long</span
            >
          </div>
        </div>
      </div>

      <div class="entry__col">
        <div
          class="field1 field1_icon js-field"
          [class.error]="
            (ConfirmPassword.invalid && ConfirmPassword.touched) ||
            (ConfirmPassword.invalid && signupForm.submitted)
          "
          [class.error]="
            SignupForm.hasError('notMatched') && ConfirmPassword.valid
          "
        >
          <div class="field1__label">Confirm Password</div>
          <div class="field1__wrap">
            <input
              class="field1__input js-field-input"
              type="password"
              formControlName="confirmPassword"
            /><button class="field1__view js-field-view" type="button">
              <svg class="icon icon-eye">
                <use
                  xlink:href="/assets/templates/square_template/img/sprite.svg#icon-eye"
                ></use></svg><span class="field1__line"></span>
            </button>
          </div>
          <div class="validation-box">
            <div
              *ngIf="
                (ConfirmPassword.invalid && ConfirmPassword.touched) ||
                (ConfirmPassword.invalid && signupForm.submitted)
              "
            >
              <span *ngIf="ConfirmPassword.hasError('required')"
                >Confirm Password</span
              >
            </div>
            <span
              *ngIf="SignupForm.hasError('notMatched') && ConfirmPassword.valid"
              >Password don't Match</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="entry__row">
      <div class="entry__col">
        <div
          class="field1 field1_select js-field"
          [class.error]="
            (Country.invalid && Country.touched) ||
            (Country.invalid && signupForm.submitted)
          "
        >
          <div class="field1__label">Country</div>
          <div class="field1__wrap">
            <select
              class="field1__select js-field-input"
              formControlName="country"
            >
              <option>USA</option>
              <option>Canada</option>
              <option>France</option>
            </select>
          </div>
          <div class="validation-box">
            <div
              *ngIf="
                (Country.invalid && Country.touched) ||
                (Country.invalid && signupForm.submitted)
              "
            >
              <span *ngIf="Country.hasError('required')"
                >Country is required</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="entry__col">
        <div
          class="field1 js-field"
          [class.error]="
            (City.invalid && City.touched) ||
            (City.invalid && signupForm.submitted)
          "
        >
          <div class="field1__label">City</div>
          <div class="field1__wrap">
            <input
              class="field1__input js-field-input"
              formControlName="city"
            />
          </div>
          <div class="validation-box">
            <div
              *ngIf="
                (City.invalid && City.touched) ||
                (City.invalid && signupForm.submitted)
              "
            >
              <span *ngIf="Country.hasError('required')">City is required</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="entry__row">
      <div class="entry__col">
        <div
          class="field1 js-field"
          [class.error]="
            (Province.invalid && Province.touched) ||
            (Province.invalid && signupForm.submitted)
          "
        >
          <div class="field1__label">Province</div>
          <div class="field1__wrap">
            <input
              class="field1__input js-field-input"
              formControlName="province"
            />
          </div>
          <div class="validation-box">
            <div
              *ngIf="
                (Province.invalid && Province.touched) ||
                (Province.invalid && signupForm.submitted)
              "
            >
              <span *ngIf="Province.hasError('required')"
                >Province is required</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="entry__col">
        <div
          class="field1 js-field"
          [class.error]="
            (ZipCode.invalid && ZipCode.touched) ||
            (ZipCode.invalid && signupForm.submitted)
          "
        >
          <div class="field1__label">Zip Code</div>
          <div class="field1__wrap">
            <input
              class="field1__input js-field-input"
              formControlName="zipCode"
            />
          </div>
          <div class="validation-box">
            <div
              *ngIf="
                (ZipCode.invalid && ZipCode.touched) ||
                (ZipCode.invalid && signupForm.submitted)
              "
            >
              <span *ngIf="ZipCode.hasError('required')"
                >ZipCode is required</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="field1 js-field"
      [class.error]="
        (ComponyName.invalid && ComponyName.touched) ||
        (ComponyName.invalid && signupForm.submitted)
      "
    >
      <div class="field1__label">Compony Name *</div>
      <div class="field1__wrap">
        <input
          class="field1__input js-field-input"
          formControlName="componyName"
        />
      </div>
      <div
        class="validation-box"
        *ngIf="
          (ComponyName.invalid && ComponyName.touched) ||
          (ComponyName.invalid && signupForm.submitted)
        "
      >
        <span *ngIf="ComponyName.hasError('required')"
          >Compony Name is required</span
        >
      </div>
    </div>
  </div>
  <div class="entry__fieldset">
    <div class="entry__box">
      <div class="entry__text">
        <p
          class=""
          style="font-size: 15px; line-height: 19px; font-weight: bold"
        >
          Describe your business or business ideas and who you help (your
          mission, how long you have been in business, programs, products, team
          size, list size
        </p>
      </div>
      <div
        class="field1 field1_textarea js-field"
        [class.error]="
          (Answer_1.invalid && Answer_1.touched) ||
          (Answer_1.invalid && signupForm.submitted)
        "
      >
        <div class="field1__wrap">
          <textarea
            class="field1__textarea js-field-input"
            formControlName="answer_1"
          ></textarea>
        </div>
      </div>
      <div
        class="validation-box"
        *ngIf="
          (Answer_1.invalid && Answer_1.touched) ||
          (Answer_1.invalid && signupForm.submitted)
        "
      >
        <span *ngIf="Answer_1.hasError('required')">Required</span>
        <span *ngIf="Answer_1.errors.minlength"
          >Minimum 20 Characters are required</span
        >
        <span *ngIf="Answer_1.errors.maxlength"
          >Maximum 500 Characters are required</span
        >
      </div>
    </div>

    <div class="entry__box">
      <div class="entry__text">
        <p
          class=""
          style="font-size: 15px; line-height: 19px; font-weight: bold"
        >
        Are are you currently getting services related to the services you are looking for from us?
        </p>
      </div>
      <div
        class="field1 field1_textarea js-field"
        [class.error]="
          (Answer_2.invalid && Answer_2.touched) ||
          (Answer_2.invalid && signupForm.submitted)
        "
      >
        <div class="field1__wrap">
          <textarea
            class="field1__textarea js-field-input"
            formControlName="answer_2"
          ></textarea>
        </div>
      </div>
      <div
        class="validation-box"
        *ngIf="
          (Answer_2.invalid && Answer_2.touched) ||
          (Answer_2.invalid && signupForm.submitted)
        "
      >
        <span *ngIf="Answer_2.hasError('required')">Required</span>
        <span *ngIf="Answer_2.errors.minlength"
          >Minimum 20 Characters are required</span
        >
        <span *ngIf="Answer_2.errors.maxlength"
          >Maximum 500 Characters are required</span
        >
      </div>
    </div>


    <div class="entry__box">
      <div class="entry__text">
        <p
          class=""
          style="font-size: 15px; line-height: 19px; font-weight: bold"
        >
        Why Should a customer buy from you rather than your competitors  (Be specific about the USPs)
        </p>
      </div>
      <div
        class="field1 field1_textarea js-field"
        [class.error]="
          (Answer_3.invalid && Answer_3.touched) ||
          (Answer_3.invalid && signupForm.submitted)
        "
      >
        <div class="field1__wrap">
          <textarea
            class="field1__textarea js-field-input"
            formControlName="answer_3"
          ></textarea>
        </div>
      </div>
      <div
        class="validation-box"
        *ngIf="
          (Answer_3.invalid && Answer_3.touched) ||
          (Answer_3.invalid && signupForm.submitted)
        "
      >
        <span *ngIf="Answer_3.hasError('required')">Required</span>
        <span *ngIf="Answer_3.errors.minlength"
          >Minimum 20 Characters are required</span
        >
        <span *ngIf="Answer_3.errors.maxlength"
          >Maximum 500 Characters are required</span
        >
      </div>
    </div>

    <div class="entry__box">
      <div class="entry__text">
        <p
          class=""
          style="font-size: 15px; line-height: 19px; font-weight: bold"
        >
        What are the typical sales cycle of your company ( the journey )
        </p>
      </div>
      <div
        class="field1 field1_textarea js-field"
        [class.error]="
          (Answer_4.invalid && Answer_4.touched) ||
          (Answer_4.invalid && signupForm.submitted)
        "
      >
        <div class="field1__wrap">
          <textarea
            class="field1__textarea js-field-input"
            formControlName="answer_4"
          ></textarea>
        </div>
      </div>
      <div
        class="validation-box"
        *ngIf="
          (Answer_4.invalid && Answer_4.touched) ||
          (Answer_4.invalid && signupForm.submitted)
        "
      >
        <span *ngIf="Answer_4.hasError('required')">Required</span>
        <span *ngIf="Answer_4.errors.minlength"
          >Minimum 20 Characters are required</span
        >
        <span *ngIf="Answer_4.errors.maxlength"
          >Maximum 500 Characters are required</span
        >
      </div>
    </div>

    <div class="entry__box">
      <div class="entry__text">
        <p
          class=""
          style="font-size: 15px; line-height: 19px; font-weight: bold"
        >
        What service or product do you sell
        </p>
      </div>
      <div
        class="field1 field1_textarea js-field"
        [class.error]="
          (Answer_5.invalid && Answer_5.touched) ||
          (Answer_5.invalid && signupForm.submitted)
        "
      >
        <div class="field1__wrap">
          <textarea
            class="field1__textarea js-field-input"
            formControlName="answer_5"
          ></textarea>
        </div>
      </div>
      <div
        class="validation-box"
        *ngIf="
          (Answer_5.invalid && Answer_5.touched) ||
          (Answer_5.invalid && signupForm.submitted)
        "
      >
        <span *ngIf="Answer_5.hasError('required')">Required</span>
        <span *ngIf="Answer_5.errors.minlength"
          >Minimum 20 Characters are required</span
        >
        <span *ngIf="Answer_5.errors.maxlength"
          >Maximum 500 Characters are required</span
        >
      </div>
    </div>

    <div class="entry__box">
      <div class="entry__text">
        <p
          class=""
          style="font-size: 15px; line-height: 19px; font-weight: bold"
        >
        What is the average value order of your customer?
        </p>
      </div>
      <div
        class="field1 field1_textarea js-field"
        [class.error]="
          (Answer_6.invalid && Answer_6.touched) ||
          (Answer_6.invalid && signupForm.submitted)
        "
      >
        <div class="field1__wrap">
          <textarea
            class="field1__textarea js-field-input"
            formControlName="answer_6"
          ></textarea>
        </div>
      </div>
      <div
        class="validation-box"
        *ngIf="
          (Answer_6.invalid && Answer_6.touched) ||
          (Answer_6.invalid && signupForm.submitted)
        "
      >
        <span *ngIf="Answer_6.hasError('required')">Required</span>
        <span *ngIf="Answer_6.errors.minlength"
          >Minimum 20 Characters are required</span
        >
        <span *ngIf="Answer_6.errors.maxlength"
          >Maximum 500 Characters are required</span
        >
      </div>
    </div>

    <div class="entry__box">
      <div class="entry__text">
        <p
          class=""
          style="font-size: 15px; line-height: 19px; font-weight: bold"
        >
        Who is your ideal client
        </p>
      </div>
      <div
        class="field1 field1_textarea js-field"
        [class.error]="
          (Answer_7.invalid && Answer_7.touched) ||
          (Answer_7.invalid && signupForm.submitted)
        "
      >
        <div class="field1__wrap">
          <textarea
            class="field1__textarea js-field-input"
            formControlName="answer_7"
          ></textarea>
        </div>
      </div>
      <div
        class="validation-box"
        *ngIf="
          (Answer_7.invalid && Answer_7.touched) ||
          (Answer_7.invalid && signupForm.submitted)
        "
      >
        <span *ngIf="Answer_7.hasError('required')">Required</span>
        <span *ngIf="Answer_7.errors.minlength"
          >Minimum 20 Characters are required</span
        >
        <span *ngIf="Answer_7.errors.maxlength"
          >Maximum 500 Characters are required</span
        >
      </div>
    </div>


    <div class="entry__box">
      <div class="entry__text">
        <p
          class=""
          style="font-size: 15px; line-height: 19px; font-weight: bold"
        >
        Do you sell locally or Internationally what cities or countries are you targeting?
        </p>
      </div>
      <div
        class="field1 field1_textarea js-field"
        [class.error]="
          (Answer_8.invalid && Answer_8.touched) ||
          (Answer_8.invalid && signupForm.submitted)
        "
      >
        <div class="field1__wrap">
          <textarea
            class="field1__textarea js-field-input"
            formControlName="answer_8"
          ></textarea>
        </div>
      </div>
      <div
        class="validation-box"
        *ngIf="
          (Answer_8.invalid && Answer_8.touched) ||
          (Answer_8.invalid && signupForm.submitted)
        "
      >
        <span *ngIf="Answer_8.hasError('required')">Required</span>
        <span *ngIf="Answer_8.errors.minlength"
          >Minimum 20 Characters are required</span
        >
        <span *ngIf="Answer_8.errors.maxlength"
          >Maximum 500 Characters are required</span
        >
      </div>
    </div>

    <div class="entry__box">
      <div class="entry__text">
        <p
          class=""
          style="font-size: 15px; line-height: 19px; font-weight: bold"
        >
        Are you doing a form of marketing? Please check all that apply. *
        </p>
      </div>
      <div
        class="field1 field1_textarea js-field"
        [class.error]="
          (Answer_9.invalid && Answer_9.touched) ||
          (Answer_9.invalid && signupForm.submitted)
        "
      >
        <div class="field1__wrap">
          <textarea
            class="field1__textarea js-field-input"
            formControlName="answer_9"
          ></textarea>
        </div>
      </div>
      <div
        class="validation-box"
        *ngIf="
          (Answer_9.invalid && Answer_9.touched) ||
          (Answer_9.invalid && signupForm.submitted)
        "
      >
        <span *ngIf="Answer_9.hasError('required')">Required</span>
        <span *ngIf="Answer_9.errors.minlength"
          >Minimum 20 Characters are required</span
        >
        <span *ngIf="Answer_9.errors.maxlength"
          >Maximum 500 Characters are required</span
        >
      </div>
    </div>




  </div>

  <div class="entry__btns d-flex justify-content-center">
    <button
      mdbBtn
      type="submit"
      class="entry__btn btn btn btn_big btn_wide btn_blue"
      rounded="true"
      mdbWavesEffect
    >
      Get Started <i class="fas fa-user-plus ml-1"></i>
    </button>
  </div>
</form>
<div class="entry__bottom">
  <a class="entry__link" [routerLink]="['/signin']"
    >Already have an account? Signin</a
  >
  <br />
  <br />
  <a class="entry__link">or</a>
  <br />
  <br />
  <a class="entry__link" [routerLink]="['/signup']">Sign Up As</a>
</div>
