<div class="entry__title display-3">Sign Up As</div>
<div class="entry__info">Signup As Client or Customer.</div>

<div class="row mt-5">
  <div class="col-sm-6 text-center">
    <div class="register-box">
      <a routerLink="/signup/client">
        <i class="fas fa-mug-hot"></i>
        <h4>Client</h4>
      </a>
    </div>
  </div>

  <div class="col-sm-6 text-center">
    <div class="register-box">
      <a routerLink="/signup/employee">
        <i class="fa fa-users"></i>
        <h4>Customer</h4>
      </a>
    </div>
  </div>
</div>
<div class="entry__bottom">
  <a class="entry__link" [routerLink]="['/signin']"
    >Already have an account? Signin</a
  >
</div>
