@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

.user-detail-row {
  label {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }

  p {
    font-weight: 600;
    color: #0062cc;
    font-family: "Montserrat", sans-serif;
  }
}
