<div>
  <div class="student__ava">
    <img
      class="student__pic z-depth-1 img-thumbnail"
      src="/assets/templates/square_template/img/ava-big-5.jpg"
      alt=""
    />
  </div>
  <div class="student__title title title_sm">
    {{ userData.firstName }} {{ userData.lastName }}
  </div>
  <div class="student__details">
    <span class="student__text">{{ userData.email }}</span>
  </div>
  <div class="student__options">
    <div class="student__option">
      <div class="student__category">Active</div>
      <div class="student__counter text-success" *ngIf="userData.isActive"><i class="fas fa-check-circle"></i></div>
      <div class="student__counter text-danger" *ngIf="!userData.isActive"><i class="fas fa-times-circle"></i></div>

    </div>
    <div class="student__option">
      <div class="student__category">Phone</div>
      <div class="student__counter text-danger" *ngIf="userData.phoneNumberConfirmed"><i class="fas fa-times-circle"></i></div>
      <div class="student__counter text-danger" *ngIf="!userData.phoneNumberConfirmed"><i class="fas fa-times-circle"></i></div>

    </div>
    <div class="student__option">
      <div class="student__category">Email</div>
      <div class="student__counter text-success" *ngIf="userData.emailConfirmed"><i class="fas fa-check-circle"></i></div>
      <div class="student__counter text-danger" *ngIf="!userData.emailConfirmed"><i class="fas fa-times-circle"></i></div>

    </div>
  </div>
  <a
    type="button"
    mdbBtn
    color="info"
    mdbWavesEffect
    class="student__btn btn btn_blue-light"
    routerLink="/admin/users/profile/{{ userData.userName }}"
  >
    View Profile <i class="fas fa-street-view ml-1 mb-1"></i>
  </a>
</div>
